<%= render "shared/success_msg" %>
<div class="container-fluid">
 <div class="row border-bottom">
  <div class="col-4 text-info">予約した部屋</div>
  <div class="col-8"><%= @room.room_name%></div>
 </div>

 <div class="row border-bottom">
  <div class="col-4 text-info">開始日</div>
  <div class="col-8"><%= @reservation.str_date%></div>
 </div>

 <div class="row border-bottom">
  <div class="col-4 text-info">終了日</div>
  <div class="col-8"><%= @reservation.end_date%></div>
 </div>

 <div class="row mt-3 ml-3">
  <div class="col-4 text-info">価格</div>
  <div class="col-8"><%= @reservation.sum_price%>円</div>
 </div>
</div>

